body, button {
  background-color: black;
}

h1, h3, p, button {
  color: white;
  text-align:center;
  font-family: Comic Sans MS;
}

img, button {
  display: block;
  margin: 20px auto;
  border: 2px solid white; 
}

img {
  height: 450px;
} 

button {
  height: 60px;
  width: 180px;
  cursor: pointer;
}

button:hover {
   background-color: grey;
}


button:active {
  background-color: darkgrey;
}